<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://apis.google.com/js/client:platform.js?onload-start" async defer></script>
</head>
<body>
    <div id=""signinButton">
        <span class="g-signin"
              data-scope="openid"
              data-clientid="546320452333-4pnfn69npjl00kdbiqib0qs97uvjdr4r.apps.googleusercontent.com"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-approvalprompt="force">
        </span>
    </div>
    <div id="result"></div>

</body>
</html>